# Node
node_modules
dist
coverage

# Environment
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Prisma
.prisma
prisma/dev.db

# Docker
.docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea